SoapDatabaseService/src/main/webapp/wsdl/StudentServiceImp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Services" xmlns:intf="http://Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStudentNamebyId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentNamebyIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentNamebyIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStudentNamebyIdResponse">

      <wsdl:part element="impl:getStudentNamebyIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentNamebyIdRequest">

      <wsdl:part element="impl:getStudentNamebyId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentServiceImp">

      <wsdl:operation name="getStudentNamebyId">

         <wsdl:input message="impl:getStudentNamebyIdRequest" name="getStudentNamebyIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentNamebyIdResponse" name="getStudentNamebyIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceImpSoapBinding" type="impl:StudentServiceImp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStudentNamebyId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentNamebyIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentNamebyIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceImpService">

      <wsdl:port binding="impl:StudentServiceImpSoapBinding" name="StudentServiceImp">

         <wsdlsoap:address location="http://localhost:1993/SoapDatabaseService/services/StudentServiceImp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
