calServiceV1/src/main/webapp/wsdl/AddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="animalType">
    <complexType>
     <sequence>
      <element name="animal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="animalTypeResponse">
    <complexType>
     <sequence>
      <element name="animalTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="animalTypeRequest">

      <wsdl:part element="impl:animalType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="animalTypeResponse">

      <wsdl:part element="impl:animalTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddService">

      <wsdl:operation name="animalType">

         <wsdl:input message="impl:animalTypeRequest" name="animalTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:animalTypeResponse" name="animalTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddServiceSoapBinding" type="impl:AddService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="animalType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="animalTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="animalTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddServiceService">

      <wsdl:port binding="impl:AddServiceSoapBinding" name="AddService">

         <wsdlsoap:address location="http://localhost:1993/calServiceV1/services/AddService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
